<!DOCTYPE html>
<html>
<head>
  <title>poets and poettess</title>
  <style>
    body {
      background-image: url('C:/Users/Shiney%20Peter/OneDrive/Documents/project/vinay/app/starryfights.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #333333;
      /* Additional CSS properties for background customization */
    }
    
    .content { color: blanchedalmond;
      /* CSS properties for positioning and styling the content */
    }
  </style>
</head>
<body>
  <div class="content">
    <h1 align="center">Verses and Vignettes</h1>
    <em>Welcome to the main page</em>
    <p>At Verses and Vignettes, we celebrate the beauty of words and the power of storytelling. Our platform is a harmonious blend of evocative poems and captivating blogs, offering a diverse range of literary experiences.
    </p>
    <p>Immerse yourself in the enchanting world of poetry, where emotions flow freely and thoughts take flight. Explore our collection of soul-stirring verses that paint vivid images, evoke deep emotions, and transport you to realms unseen. From heartfelt sonnets to poignant haikus, our poetry section is a treasure trove of lyrical expressions.
    </p>
    <p>In addition to poetry, we also embrace the art of storytelling through our thought-provoking blogs. Delve into the minds of our talented writers as they share their insights, observations, and personal anecdotes. From travel diaries to philosophical musings, our blogs cover a wide array of topics, ensuring there's something for everyone.</p>
      <p>Whether you seek solace in the rhythmic cadence of poetry or crave captivating narratives that expand your horizons, Verses and Vignettes has something to offer. Join our literary community and embark on a journey of words that will stir your imagination, ignite your passions, and leave an indelible mark on your heart.
      <ol>Exploring now and let the world of Verses and Vignettes, enchant and inspire you!</ol></p>
      <ol><a href="http://localhost:8000/poem">click here to see Poems</a></ol>
      <ol><a href="http://localhost:8000/submit">click here to submit your Poems</a></ol>
      <ol><a href="http://localhost:8000/experiment">click here to see The Experiment blog</a></ol>
  </div>
</body>
</html>