<!DOCTYPE html>
<html>
<head>
  <title>Enchanting Verses</title>
  <style>
    body {background: #466368;
      background: -webkit-linear-gradient(#293f50);
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }
    h1 {
      color: #333;
    }
    .rose {
      font-size: 30px;
      color: red;
    }
  </style>
</head>
<body>
  <h1>Enchanting Verses</h1>
  
  <p>Life is a journey,</p>
  <p>Full of twists and turns,</p>
  <p>We face challenges and lessons,</p>
  <p>And sometimes our heart yearns.</p>
  
  <p class="rose">&#x1F339;</p>
 <marquee color="#293f50" bgcolor="#00204e" height="30px" width="340px" behavior="alternate" >STAAARRRYYYY NIGHTS</marquee>
 <img src="app/starryfights.jpg" height="545" width="728">
 <audio src="C:\Users\Shiney Peter\OneDrive\Documents\project\vinay\app\dramatic-atmosphere-with-piano-and-violin-143149.mp3" controls></audio>
</body>
</html>